<div class="footer-center">
	<div class="footer-left">
		<span class="footer-text-top">
			<a href="project.html">Project</a>&nbsp;&#149;
			<a href="about.html">About us</a>&nbsp;&#149;
			<strong>Sneer</strong>, Sovereign Peer-to-Peer
		</span>
		<span class="footer-text-bottom">
			&copy;
			<script type="text/javascript">
				var theDate=new Date()
				document.write(theDate.getFullYear())
			</script>
			Sneer. All Rights Reserved.
		</span>
	</div>

	<a target="_blank" class="mediaplus-logo">MediaPlus.com.br</a>

</div>
