<div class="footer-center">
	<div class="footer-left">
		<span class="footer-text-top">
			<a href="project.html" style="text-decoration: none;">Project</a> &nbsp;&#149;
			<a href="about.html" style="text-decoration: none;">About us</a>
		</span>
		<span class="footer-text-bottom">
			&copy;
			<script type="text/javascript">
				var theDate=new Date()
				document.write(theDate.getFullYear())
			</script>
			Sneer, Sovereign Peer-to-Peer. All Rights Reserved.
		</span>
	</div>

	<a target="_blank" class="mediaplus-logo">MediaPlus.com.br</a>

</div>
