<ul id="menu-options">
	<li {{ page.home }}><span>»</span><a href="index.html">Home</a></li>
	<li {{ page.project }}><span>»</span><a href="project.html">Project</a></li>
	<li {{ page.download }}><span>»</span><a href="download.html">Download</a></li>
	<li {{ page.about }}><span>»</span><a href="about.html">About Us</a></li>
	<li class="bottom"></li>
</ul>

<div id="news-briefs">
	<h1>Latest News</h1>
	
	<a href="http://sneer.posterous.com/lc-learning-and-coolness" target="_blank" class="news_blue">
		<span class="date">15 Jul, 2010</span><br />
		<span class="title">L&C is the software methodology we use to develop Sneer, the...</span><br />
		<span class="button"><strong>Read more</strong> »</span>
	</a>

	<br />

	<a href="http://sneer.posterous.com/java-desktop-gui-specialist-needed" target="_blank" class="news_white">
		<span class="date">29 Jun, 2010</span><br />
		<span class="title">We're looking for someone with large experience in Swing and SWT/RCP...</span><br />
		<span class="button"><strong>Read more</strong> »</span>
	</a>

	<br />

	<a href="http://sneer.posterous.com/klaus-at-agile-brazil-2010" target="_blank" class="news_blue">
		<span class="date">25 Jun, 2010</span><br />
		<span class="title">Today at 16:45, Klaus is giving a keynote at the Agile Brazil 2010...</span><br />
		<span class="button"><strong>Read more</strong> »</span>
	</a>

	<br />

	<a href="http://sneer.posterous.com/sneer-summit-2009" target="_blank" class="news_white">
		<span class="date">24 Jun, 2010</span><br />
		<span class="title">A few pics from Sneer Summit, which happened on 26th August 2009...</span><br />
		<span class="button"><strong>Read more</strong> »</span>
	</a>
</div>
