<div id="socialText">
	<ul>
		<li><b><a href="https://trello.com/board/sneer/4f2ea14ec0be5afd0b4ce7a0" target="_blank">Roadmap</a></b>
		</li>
		<li><b>Twitter</b>
			<ul>
				<li><a href="http://twitter.com/#!/Sneer_Me" target="_blank">&#64;@Sneer_Me</a></li>
				<li><a href="http://twitter.com/#!/SneerBr" target="_blank">&#64;@SneerBR</a> (Portuguese)</li>
			</ul>
		</li>
		<li><b>Mailing List</b>
			<ul>
				<li>
					<a href="http://groups.google.com/group/sneercoders" target="_blank">
						Coders Mailing List in Portuguese.
					</a> We will start a list in english if necessary. If you want to code but don't know portuguese get in touch with mail at klaus dot pro.
				</li>
			</ul>
		</li>
	</ul>
</div>
