<div id="socialText">
	<ul>
		<li>
			<b><a href="https://github.com/sneerteam/sneer" target="_blank">Code and docs</a> on github.</b>
		</li>

		<li>
			<b><a href="https://trello.com/board/sneer/4f2ea14ec0be5afd0b4ce7a0" target="_blank">Project Roadmap</a></b>
		</li>

		<li><b>Twitter</b>
			<ul>
				<li><a href="http://twitter.com/#!/Sneer_Me" target="_blank">&#64;Sneer_Me</a></li>
				<li><a href="http://twitter.com/#!/SneerBr" target="_blank">&#64;SneerBR</a> (Portuguese)</li>
			</ul>
		</li>

		<li><b><a href="https://groups.google.com/forum/#!forum/sneer-dev" target="_blank">
			Development Mailing List</a></b>
		</li>

		<li><b><a href="https://groups.google.com/forum/#!forum/sneer-dev-br" target="_blank">
			Development Mailing List in Portuguese
			</a></b>
		</li>

	</ul>
</div>
