<div id="socialText">
	<h3>I want to join the discussion. Where do I go?</h3>
	<ul>
		<li><b>Twitter</b>
			<ul>
				<li><a href="http://twitter.com/#!/Sneer_Me" target="_blank">&#64;Sneer_Me</a></li>
				<li><a href="http://twitter.com/#!/SneerBr" target="_blank">&#64;SneerBR (in Portuguese)</a></li>
			</ul>
		</li>
		<li><b>Google Discussion Groups</b>
			<ul>
				<li>
					<a href="http://groups.google.com/group/sovereigncomputing" target="_blank">
						Sovereign Computing Users Group in English
					</a>
				</li>
				<li>
					<a href="http://groups.google.com/group/computacaosoberana" target="_blank">
						Sovereign Computing Users Group in Portuguese
					</a>
				</li>
				<li>
					<a href="http://groups.google.com/group/sneercoders" target="_blank">
						Sneer Coders Group in English
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
