@media (max-width: 800px){ 
	.info-block img{ width: 50%;}
	img.left, img.right{ float: none;  margin: 40px auto 0;}
	.text-block{ padding: 20px 0 40px; width: 90%;}
	img.all { width: 70%; height: auto;}
	body.new-home header ul{ text-align: right; margin-top:5px;}
	body.new-home ul li{ margin-left:10px;}

@media (max-width: 500px){ 
	.info-block img{ width: 90%; padding:0;}
	img.left, img.right{ float: none;  margin: 40px auto 0;}
	img.all { width: 80%; height: auto;}
	.content h1{ font-size: 36px; margin-top: 50px;}
	.text-block{ font-size: 14px; line-height: 24px; padding: 20px 0 40px; width: 90%;}
	body.new-home header ul{padding: 0; margin-top:0; width: -webkit-calc(100% - 120px);  /* para Chrome */width: -moz-calc(100% - 120px);     /* para Firefox */width: calc(100% - 120px);text-align: right;}
	body.new-home ul li a{ font-size: 12px;}
	body.new-home header a img{ height: 40px; width: auto; }
	footer ul{ display: none;}
	.wrapper { min-width: 260px;}
}

@media (max-width: 320px) {
	body.new-home ul li a{font-size: 12px;}
	.text-block{font-size: 14px; }
	.wrapper {width: 97%;}
	.content h1{ font-size: 24px; margin-top: 25px;}
	.content h2{ font-size: 18px;}
}
