/* NEW HOME STYLES */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,600italic,600,400italic,300italic,300); /* THIS IS THE BASIS FONT */

/* reset */

ul {
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0;
}

html,
body,
div,
h1,
h2,
h3,
h4,
ul,
ol,
li,
form,
fieldset,
select,
input,
textarea,
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
}

a, ins { text-decoration: none;  }

del { text-decoration: line-through; }

hr { display: none; }

img, fieldset { border: none; }

em { font-style: italic; }

strong { font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }

abbr[title],
dfn[title]{
  cursor: help;
  border-bottom: 1px dotted;
}

pre,
code {
  font-family: monospace;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

/*basis*/

body.new-home{ 
	margin:0; 
	padding:0;
	background: #fff; 
	color: #666;
	font-family: 'Open Sans', sans-serif; 
}
.wrapper {
	width: 90%;
	max-width: 1152px;
	padding: 0;
	margin: 0 auto 0 auto;
}

footer{
	background-color: rgb(82,90,140);
	color: #fff;
	width: 100%;
	height: 25px;
	padding: 10px 0;
}
footer ul{ margin:0;padding:0;}
footer ul li a { font-size: 12px; }
footer ul li{
	margin:0;
	padding:0;	
}

/* HEADER styles */

body.new-home header { 
	background-color: #993333;
	-webkit-backface-visibility: hidden;
	position: fixed;
	height: 50px;
	top: 0;
	width: 100%;
	padding: 10px;
	overflow: hidden;
}

body.new-home header a img{ height: 50px; width: auto; display: inline-block; vertical-align: middle;}
body.new-home ul{ 
	display: inline-block;
	vertical-align: middle;
	right:0;
	width: -webkit-calc(100% - 155px);  /* para Chrome */
 	width: -moz-calc(100% - 155px);     /* para Firefox */
 	width: calc(100% - 155px);
	text-align: right;
}
body.new-home ul li{
	display: inline-block;
	list-style: none;
	margin-left:25px;
}

body.new-home ul li a:hover{ border-bottom: 2px solid #fff;}
body.new-home ul li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	font-weight: 600;
}
/* end of HEADER STYLES*/


/* CONTENT styles */

.content .wrapper{ text-align: center;}
.content.first .wrapper{ margin-top: 80px; text-align: center;}
.content.deep { background-color: #fafafa; }
.content span { font-weight: 700;}
.content img { display: block; margin: 40px auto;}

.content h1{ 
	display: block;
	text-align: center;
	margin-top: 100px;
	font-size: 42px;
	color: rgb(82,90,140);
	font-weight: 300;
}
.content h2{ 
	font-size: 28px;
	color: rgb(82,90,140);
	font-weight: 600;
}

hr.h1divisor{ 
	width: 130px; 
	border-bottom: 2px solid rgb(82,90,140);
	margin: 0 auto;
}

.info-block{ padding:20px;}

.text-block{
	width: 70%;
	display: inline-block;
	text-align: left;
	font-size: 18px;
	padding: 40px 0;
	line-height: 30px;
}

.info-block img{ width: 25%; height: auto; }
img.left{ float: left; margin-right: 5%;}
img.right{ float: right; margin-left: 5%;}

