---
layout: base
---

<!-- Refer to resources/css/sneer.css for details of the layout's style -->

<div id="main">
	<div id="top">
		{% include header.html %}
	</div>

	<div id="left">
		{% include menu.html %}
	</div>

	<div id="center">
		<h1 id="hContributors">Contributors</h1>
		
		{% include social.html %}
		
		<h1 id="hAboutus">About Us</h1>
		
		{{ content }}
	</div>
	
</div>

<div id="bottom-gap"></div>

<div id="bottom">
	{% include footer.html %}
</div>
